<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Results</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body onload="">
    <div class="row">
        <div class="col3">
            <img src="/images/quest_logo.png" alt="" width=80 height=80>
        </div>
        <div class="col3" align="center">
            <h1 style="text-align:center">
                QUEST - <script>document.write(new Date().getFullYear())</script>
                <br>
            </h1>
            <h4 style="text-align:center">DEPARTMENT OF COMPUTER SCIENCE & ENGINEERING</h4>
            <h2 style="text-align:center">JNTUH COLLEGE OF ENGINEERING HYDERABAD</h2>

        </div>

        <div class="col3">
            <img src="/images/jntuhlogo.png" alt="" width=120 height=120>
        </div>
    </div>

    <br>

    <h2 style="text-align: center;"><u>UPDATE RESULTS</u></h2>
    <div class="formContainer">
        <div class="w3-container">
            <form action="/resultsUpdate" method="POST">
                
                <label for="eventCode">Event</label>
                <input type="text" id="eventCode" name="eventCode" readonly value="<%= eventId%>"/>

                <label for="firstPlace">First place</label>
                <select id="firstPlace" name="firstPlace" required>
                    <option>--SELECT--</option>
                    <% for (const i in winners) { %>
                        <option value="<%= winners[i].candidateId %>"> <%= winners[i].candidateName + " -- " + winners[i].candidateContact %> </option>
                    <% } %>
                </select>

                <label for="secondPlace">Second place</label>
                <select id="secondPlace" name="secondPlace">
                    <option>--SELECT--</option>
                    <% for (const i in winners) { %>
                        <option value="<%= winners[i].candidateId %>"> <%= winners[i].candidateName + " -- " + winners[i].candidateContact %> </option>
                    <% } %>
                </select>

                <label for="thirdPlace">Third place</label>
                <select id="thirdPlace" name="thirdPlace">
                    <option>--SELECT--</option>
                    <% for (const i in winners) { %>
                        <option value="<%= winners[i].candidateId %>"> <%= winners[i].candidateName + " -- " + winners[i].candidateContact %> </option>
                    <% } %>
                </select>
          
                <input type="submit" id="submitData" value="Update Results">
          
            </form>
        </div>
    </div>
</body>
</html>